.booking {
  margin-left: 100px;
  @media screen and (max-width: 700px) {
    margin-left: 0px;
    margin-bottom: 50px;
    width: 80%;
  }
  h1 {
    font-size: 40px;
    font-weight: 500;
    color: $very-dark-desaturated-violet;
    margin: 30px auto;
  }
  p {
    color: $dark-grayish-blue;
    line-height: 1.7;
  }
}
