.pricing__message {
  display: flex;
  float: left;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to left,
    $moderate-violet 35%,
    $light-magenta
  );
  margin: 10px 10px 0px 10px;
  border-radius: 12px;
  font-size: 11px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  min-width: 70%;
  color: $white;
  .check__circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $very-light-magenta;
  }
  .service {
    color: #ede5f3;
    margin-right: 40px;
  }
  .price {
    font-size: 16px;
    font-weight: 500;
  }
}
.expensive {
  margin-bottom: 10px;
}
