@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import './variables';
@import './phone';
@import './header';
@import './samuel_message';
@import './client_message';
@import './enter_message';
@import './pricing_message';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__container {
  overflow: hidden;
  margin: auto;
  width: 100%;
  min-height: 120vh;
  height: 100%;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  background-color: $light-grayish-violet;
  .background {
    position: absolute;
    top: 0;
    left: -10%;
    background: $moderate-violet;
    width: 40%;
    height: 95vh;
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    z-index: 2;
  }
  .wrapper {
    max-width: 900px;
    min-width: 280px;
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
}
