@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
.phone {
  position: relative;
  z-index: 10;
  height: 100%;
  min-height: 500px;
  max-width: 300px;
  margin-top: 40px;
  border-radius: 30px;
  margin-left: 100px;
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
  .phone {
    margin-left: 0px;
  }
}

.phone .phone__container {
  position: relative;
  background-color: #f5f3f7;
  margin: auto;
  font-size: 13px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.phone .phone__container::after {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  z-index: 100;
  content: '';
  margin: auto;
  width: 55%;
  height: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
}

header {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, #9241c8), to(#e942ff));
  background: linear-gradient(to right, #9241c8 35%, #e942ff);
  border-radius: 8px;
  width: 100%;
  color: white;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px 15px 20px;
}

header .user .user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .user .user__info .avatar {
  background-color: white;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 0 10px;
}

header .user .user__info .avatar img {
  width: 25px;
  border-radius: 50%;
}

header .user .user__info .user__personal__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

header .user .user__info .user__personal__info .username {
  font-weight: 500;
}

header .user .user__info .user__personal__info .status {
  color: #d89eff;
  line-height: 1.7;
  font-size: 11px;
}

.samuel__message {
  float: left;
  background: #ede5f3;
  margin: 10px 10px 0px 10px;
  border-radius: 12px;
  font-size: 11px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  max-width: 55%;
  color: #9241c8;
}

.client__dog__pictures__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin: 10px;
}

.client__dog__pictures__message .dog__picture {
  width: 50px;
  margin: 5px;
}

.client__dog__pictures__message .dog__picture img {
  border-radius: 15px;
  width: 100%;
}

.client__message {
  float: right;
  background: white;
  margin: 0px 10px 10px 10px;
  border-radius: 12px;
  font-size: 11px;
  padding: 10px;
  border-bottom-right-radius: 5px;
  max-width: 55%;
  color: #6e5d7e;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.enter__message {
  width: 92%;
  background-color: white;
  border-radius: 30px;
  margin: auto auto 10px auto;
  overflow: hidden;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enter__message input {
  outline: none;
  border: none;
  max-width: 200px;
  padding: 20px;
  font-size: 12px;
}

.enter__message input::-webkit-input-placeholder {
  color: #c6cacd;
}

.enter__message input:-ms-input-placeholder {
  color: #c6cacd;
}

.enter__message input::-ms-input-placeholder {
  color: #c6cacd;
}

.enter__message input::placeholder {
  color: #c6cacd;
}

.enter__message .send__button {
  height: 26px;
  width: 26px;
  background-color: #3e2753;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enter__message .send__button .chevron__right i {
  color: white;
}

.pricing__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, right top, left top, color-stop(35%, #9241c8), to(#e942ff));
  background: linear-gradient(to left, #9241c8 35%, #e942ff);
  margin: 10px 10px 0px 10px;
  border-radius: 12px;
  font-size: 11px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  min-width: 70%;
  color: white;
}

.pricing__message .check__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #e570ff;
}

.pricing__message .service {
  color: #ede5f3;
  margin-right: 40px;
}

.pricing__message .price {
  font-size: 16px;
  font-weight: 500;
}

.expensive {
  margin-bottom: 10px;
}

.booking {
  margin-left: 100px;
}

@media screen and (max-width: 700px) {
  .booking {
    margin-left: 0px;
    margin-bottom: 50px;
    width: 80%;
  }
}

.booking h1 {
  font-size: 40px;
  font-weight: 500;
  color: #3e2753;
  margin: 30px auto;
}

.booking p {
  color: #a39daa;
  line-height: 1.7;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app__container {
  overflow: hidden;
  margin: auto;
  width: 100%;
  min-height: 120vh;
  height: 100%;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  background-color: #f5f3f7;
}

.app__container .background {
  position: absolute;
  top: 0;
  left: -10%;
  background: #9241c8;
  width: 40%;
  height: 95vh;
  border-bottom-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  z-index: 0;
}

@media screen and (max-width: 700px) {
  .app__container .background {
    height: 80vh;
  }
}

.app__container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  min-width: 250px;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 700px) {
  .app__container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.attribution {
  text-align: center;
  font-family: inherit;
  margin-top: 50px;
}

@media screen and (max-width: 700px) {
  .attribution {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=app.css.map */